* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

/**Boot CSS**/

.center {
    max-width: 1366px;
    margin: 0 auto;
}

.w60 {
    padding: 0 8% 0% 10%;
    width: 60%;
}

.w40 {
    padding: 0 0 0 0;
    width: 40%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

/**Estilização**/

section div.logo-introduce {
    height: 100%;
    display: flex;
    align-items: center;
}

section div.text {
    height: 30%;
}

section div.logo-introduce h1 {
    font-weight: bolder;
    font-size: 65px;
    color: blue;
    text-align: left;
}

section div.logo-introduce p {
    font-weight: 400;
    font-size: 30px;
    color: black;
    text-align: justify;
    height: 90px;
}

section div.formulary {
    height: 100%;
    display: flex;
    align-items: center;
}

section div.formulary form {
    width: 70%;
    height: 60%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(0vh 1vh 1vh gray);
}

section div.formulary form .email {
    font-size: 18px;
    height: 15%;
    width: 90%;
    margin: 3% 5% 3% 5%;
    padding: 5%;
    background-color: white;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    caret-color: rgb(68, 68, 253);
    outline-color: rgb(68, 68, 253);
}

section div.formulary form input[type=submit] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font: bolder;
    color: white;
    height: 13%;
    width: 90%;
    margin: 2%;
    background-color: rgb(68, 68, 253);
    border: none;
    border-radius: 5px;
}

section div.formulary form input[type=submit]:hover {
    background-color: rgb(27, 27, 255);
    cursor: pointer;
}

section div.formulary form a {
    background-color: white;
    font-size: 15px;
    text-decoration: none;
    color: blue;
    height: 5%;
    margin: 2% 2% 5% 2%;
    text-align: center;
    align-items: center;
}

section div.formulary form a:hover {
    text-decoration: underline;
}

section div.formulary form a:visited {
    text-decoration: none;
}

section div.formulary form p {
    border: 0.1px solid rgb(197, 197, 197);
    width: 95%;
}

section div.formulary form input[type=button] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font: bolder;
    color: white;
    background-color: rgb(39, 192, 60);
    height: 15%;
    margin: 5% 2% 2% 2%;
    width: 50%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

section div.formulary form input[type=button]:hover {
    background-color: rgb(35, 172, 53);
    cursor: pointer;
}

footer {
    height: 10%;
    width: 100%;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer li {
    display: inline;
    padding: 1% 3%;
}

footer div a {
    font-size: 18px;
    font: bolder;
    color: rgb(173, 173, 173);
    text-decoration: none;
}

footer div a:hover {
    text-decoration: underline;
}

footer div a:visited {
    text-decoration: none;
}

footer p {
    font: 300;
    font-size: 12px;
    text-align: center;
}