* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/**Boot CSS*/

.center {
    max-width: 1366px;
    margin: 0 auto;
}

/**Estilização**/
body{
    background-color: aliceblue;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    font-weight: bold;
    font-size: 17px;
    color: white;
    background-color: blue;
}

header img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

header h1 {
    line-height: 60px;
}

section.center {
    margin-top: 90px;
    width: 1000px;
    height: 320px;
}

section.center h1 {
    color: blue;
    font-size: 40px;
    margin-left: 30px;
}

section.center div{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.center p {
    color: #8b8b8b;
    font-size: 20px;
    width: 70%;
    margin-top: 20px;
    text-align: justify;
}
footer.desktop{
    height: 70px;
    margin-bottom: 0;
}
footer.desktop ul{
    display: flex;
    justify-content: center;
}
footer.desktop li{
    display: inline;
    padding: 1% 3%;
}
footer.desktop li a{
    font-size: 18px;
    font: bolder;
    color: rgb(173,173,173);
    text-decoration: none;
}
footer.desktop li a:hover{
    text-decoration: underline;
}
footer.desktop li a:visited{
    text-decoration: none;
}
footer.desktop p{
    margin-top: 15px;
    font: 300;
    font-size: 12px;
    text-align: center;
}
footer.mobile{
    display: none;
}

/**media-query**/
    @media screen and (max-width:900px){
    header{
        font-size: 14px;
    }
    header img{
        height: 40px;
        width: 40px;
    }
    section.center{
        width: 500px;
    }
    footer.desktop{
        display: none;
    }
    footer.mobile{
        display:block;
    }
    div.button{
        font-size: 25px;
        cursor: pointer;
        color:  rgb(151, 151, 151);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 20px;
    }
    footer.mobile ul{
        width: 100%;
        text-align: center;
        display:none;
    }
    footer.mobile li{
        font-weight: 300;
        width: 100%;
        background-color: white;
        border-bottom: 1px solid #ccc;
        font-size: 17px;
        display: block;
    }
    footer.mobile li a{
        display: block;
        color: aqua;
        text-decoration: none;
    }
    footer.mobile p{
        font-size: 10px;
        text-align: center;
    }
    
}