* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

/**Boot CSS**/

.center {
    max-width: 1366px;
    margin: 0 auto;
}

.w60 {
    padding: 0 8% 0% 10%;
    width: 60%;
}

.w40 {
    margin: auto;
    width: 40%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

/**Estilização**/

section div.logo-introduce {
    height: 100%;
    display: flex;
    align-items: center;
}

section div.text {
    height: 30%;
}

section div.logo-introduce h1 {
    font-weight: bolder;
    font-size: 65px;
    color: blue;
    text-align: left;
}

section div.logo-introduce p {
    font-weight: 400;
    font-size: 25px;
    color: black;
    text-align: left;
    height: 90px;
}

section div.formulary {
    height: 100%;
    display: flex;
    align-items: center;
}

section div.formulary form {
    width: 400px;
    height: 380px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(0vh 1vh 1vh gray);
}

section div.formulary form .email {
    font-size: 20px;
    height: 55px;
    width: 365px;
    margin: 15px;
    margin-bottom: 0px;
    padding: 20px;
    background-color: white;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    caret-color: rgb(68, 68, 253);
    outline-color: rgb(68, 68, 253);
}

section div.formulary form input[type=submit] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font: bolder;
    color: white;
    height: 48px;
    width: 365px;
    margin: 15px;
    background-color: rgb(68, 68, 253);
    border: none;
    border-radius: 5px;
}

section div.formulary form input[type=submit]:hover {
    background-color: rgb(27, 27, 255);
    cursor: pointer;
}

section div.formulary form a {
    background-color: white;
    font-size: 15px;
    text-decoration: none;
    color: blue;
    height: 25px;
    line-height: 25px;
    margin: 8px 12px 15px 12px;
    text-align: center;
    align-items: center;
}

section div.formulary form a:hover {
    text-decoration: underline;
}

section div.formulary form a:visited {
    text-decoration: none;
}

section div.formulary form p {
    border: 0.1px solid rgb(197, 197, 197);
    width: 365px;
}

section div.formulary form input[type=button] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font: bolder;
    color: white;
    background-color: rgb(39, 192, 60);
    height: 55px;
    margin: 15px 15px;
    width: 240px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

section div.formulary form input[type=button]:hover {
    background-color: rgb(35, 172, 53);
    cursor: pointer;
}

footer {
    height: 10%;
    width: 100%;
}

.desktop ul {
    display: flex;
    justify-content: center;
}

.desktop div li {
    display: inline;
    padding: 1% 3%;
}

footer.desktop li a {
    font-size: 18px;
    font: bolder;
    color: rgb(173, 173, 173);
    text-decoration: none;
}

footer.desktop li a:hover {
    text-decoration: underline;
}

footer.desktop li a:visited {
    text-decoration: none;
}

footer.desktop p {
    margin-top: 15px;
    font: 300;
    font-size: 12px;
    text-align: center;
}

footer.mobile {
    display: none;
}

/**media-query**/

@media screen and (max-width:916px) {
    .w60 {
        padding: 35px;
        width: 100%;
    }

    .w40 {
        padding: 20px;
        width: 100%;
    }

    section div.logo-introduce {
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    section div.text {
        width: 400px;
    }

    section div.logo-introduce h1 {
        margin-bottom: 15px;
        text-align: center;
    }

    section div.logo-introduce p {
        font-size: 22px;
        text-align: center;
    }

    section div.formulary {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 450px;
    }

    footer.desktop {
        display: none;
    }

    footer.mobile {
        display: block;
    }

    div.button {
        font-size: 25px;
        cursor: pointer;
        color: rgb(151, 151, 151);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 20px;
    }

    footer.mobile ul {
        text-align: center;
        display: none;
    }

    footer.mobile li {
        display: block;
    }

    footer.mobile li a {
        display: block;
        color: aqua;
        text-decoration: none;
    }

    footer.mobile p {
        font-size: 10px;
        text-align: center;
    }
}